.container-fluid {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: scroll;
  padding: 0;
}

.container-fluid mat-paginator {
  width: 100%;
}

.container-fluid mat-paginator {
  border: 1px whitesmoke solid;
}

.save-hover {
  scale: 1.2;
  color: green;
}

.delete-hover {
  scale: 1.2;
  color: red;
}

mat-form-field {
  width: 25%;
  margin-top: 1rem;
}

/* Icons */
.toolbar {
  width: 100%;
}
.toolbar-button {
  margin: 0 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.toolbar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.toolbar-icon {
  color: black;
  font-size: 1.4rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.toolbar-button:hover .toolbar-icon {
  color: teal;
  opacity: 0.8;
  transform: scale(1.05);
}

.toolbar-button:hover .red {
  color: red;
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }
  .card-icon {
    font-size: 2.5rem;
  }
  .card-title {
    font-size: 1.1rem;
  }
}