<div class="footer container-fluid p-0">
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #10b5a3">
      <div class="me-5 text-white">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="https://facebook.com/PayShare" class="text-white me-4" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/PayShare" class="text-white me-4" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://plus.google.com/PayShare" class="text-white me-4" target="_blank">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://instagram.com/PayShare" class="text-white me-4" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://linkedin.com/company/PayShare" class="text-white me-4" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/piyushsborse25/pay-share" class="text-white me-4" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <!-- Company Information -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold" style="color: #10b5a3;">PayShare</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #10b5a3; height: 2px" />
            <p>PayShare is the leading platform for group expenses management in India. Simplify your financial
              interactions and ensure transparency among friends, family, and colleagues.</p>
          </div>

          <!-- Products -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold" style="color: #10b5a3;">Our Products</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #10b5a3; height: 2px" />
            <p><a href="#!" class="text-white">PayShare Web App</a></p>
            <p><a href="#!" class="text-white">PayShare Mobile App</a></p>
            <p><a href="#!" class="text-white">PayShare API</a></p>
            <p><a href="#!" class="text-white">PayShare Business</a></p>
          </div>

          <!-- Useful Links -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold" style="color: #10b5a3;">Useful Links</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #10b5a3; height: 2px" />
            <p><a href="#!" class="text-white">Your Account</a></p>
            <p><a href="#!" class="text-white">Become an Affiliate</a></p>
            <p><a href="#!" class="text-white">How It Works</a></p>
            <p><a href="#!" class="text-white">Help</a></p>
          </div>

          <!-- Contact Information -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold" style="color: #10b5a3;">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #10b5a3; height: 2px" />
            <p><i class="fas fa-home mr-3"></i> Pune, Maharashtra, 411057, India</p>
            <p><i class="fas fa-envelope mr-3"></i> support&#64;payshare.in</p>
            <p><i class="fas fa-phone mr-3"></i> +91 22 1234 5678</p>
            <p><i class="fas fa-print mr-3"></i> +91 22 1234 5679</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Bottom Section -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2025 Copyright:
      <a class="text-white" href="https://payshare.in/">PayShare.in</a>
    </div>
  </footer>
</div>